:root {
  --textColor: RGBA(0, 0, 0, 1);
  /* --textFilter: brightness(0) saturate(0); */
  --textFilter: "";

  --paperColor: RGBA(255, 255, 255, 0.4) url("/images/grid-solid.png");
  /* --paperFilter: brightness(300%) saturate(0); */
  --paperFilter: "";

  --bgColor: url("/images/paperbg1.jpg");
  --bgFilter: saturate(1);
}

.word {
  /* z-index: 200; */
  color: var(--textColor);
  filter: var(--textFilter);
}

#mainContainer {
  filter: var(--paperFilter);
  background: var(--paperColor);
  background-position: center;
  /* background-size: cover; */
  position: relative;
}

/* #mainContainer:before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: RGBA(0, 255, 0, 1);
}

#mainContainer:before:active {
  background-color: RGBA(0, 255, 0, 0);
} */

body {
  background: var(--bgColor);
  backdrop-filter: var(--bgFilter);
  background-position: center;
  background-size: cover;
  height: 95vh;
}

#styling span,
#styling span > * {
  display: inline-flex;
}

#styling {
}

#styling span {
  flex-direction: column;
  width: auto;
}

.UI__ {
  cursor: pointer;
  user-select: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.UI__.els div {
  padding: 0 5px;
}

.UI__.els div.selected {
  outline: 4px solid gold;
  border-radius: 5px;
}

.UI__.els div:active {
  transform: translateY(2px);
}

.username {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: end;
  padding: 0;
  position: relative;
}

.username {
  background-size: contain;
  background-position-x: 80%;
  background-repeat: no-repeat;
}

.date:active {
  color: RGBA(0, 0, 0, 0) !important;
  background-image: url("/images/crocodile-4.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#modal {
  font-family: "Arial", segoe;
  max-width: 600px;
  min-width: 300px;
  bottom: 50%;
  position: sticky;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-color: RGBA(255, 255, 255, 0.6);
  outline: 2px solid RGBA(0, 200, 255, 0.8);
  padding: 15px;
  border-radius: 15px;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 5px;
  opacity: 0;
}

#modal.triggered {
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bloopAway {
  0% {
    transform: scale(100%);
  }
  10% {
    transform: scale(110%);
  }

  50% {
    transform: scale(0%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes bloopAway1 {
  0% {
    transform: scale(100%);
  }
  10% {
    transform: scale(110%);
  }

  50% {
    transform: scale(0%);
  }
  100% {
    transform: scale(0%);
  }
}

#modal__left.mobileStartBtn {
  display: none;
  font-family: "Arial", segoe;
  position: sticky;
  bottom: 3%;
  left: 3%;
  margin-right: auto;
  color: white;
  font-size: 1rem;
  /* background-image: url('/images/crocodile-4.svg'); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-color: RGBA(0, 255, 0, 1);
  outline: 2px solid RGBA(0, 200, 0, 1);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

#mobileText {
  height: 0;
  width: 0;
  opacity: 0;
}

#textArr span.word:last-child {
  display: none;
}

@media screen and (max-width: 1083px) {
  .ui,
  .ui > * {
    font-size: 0.8rem;
  }
  #modal__left.mobileStartBtn {
    display: flex;
    animation: bloopAway 0.5s reverse;
  }
  #modal__left.mobileStartBtn.triggered {
    display: flex;
    animation: bloopAway1 0.5s forwards;
  }
}

@media screen and (max-width: 374px) {
  .ui,
  .ui > * {
    font-size: 0.7rem;
  }
}
